# Problem Statement :

TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences.

## 1 - Business Problem

Does the defective % varies significantly by centre?

## 2 - Data description

α = 0.05 (95% Confidence)

Y = Discrete

X = Discrete

Since there are more than 2 variables we will perform Chi-Square test.

H0 = The defective % does not varies by center.

H1 = The defective % does varies by center.

## 3 - Chi-Square Test

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [2]:
df_cust_order = pd.read_csv("D:/Harsha/Data sciences/Assignments/Assignment_3_Hypothesis Testing/Costomer+OrderForm.csv")

In [3]:
df_cust_order.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [4]:
df_cust_order.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [5]:
Phillippines_value=df_cust_order['Phillippines'].value_counts()
Indonesia_value=df_cust_order['Indonesia'].value_counts()
Malta_value=df_cust_order['Malta'].value_counts()
India_value=df_cust_order['India'].value_counts()
print(Phillippines_value)
print(Indonesia_value)
print(Malta_value)
print(India_value)

Error Free    271
Defective      29
Name: Phillippines, dtype: int64
Error Free    267
Defective      33
Name: Indonesia, dtype: int64
Error Free    269
Defective      31
Name: Malta, dtype: int64
Error Free    280
Defective      20
Name: India, dtype: int64

In [8]:
chiStats = stats.chi2_contingency([df_cust_order['Phillippines'].value_counts(), 
                        df_cust_order['Indonesia'].value_counts(), 
                        df_cust_order['Malta'].value_counts(), 
                        df_cust_order['India'].value_counts()])

In [9]:
chiStats

(3.8589606858203545,
 0.2771020991233144,
 3,
 array([[271.75,  28.25],
        [271.75,  28.25],
        [271.75,  28.25],
        [271.75,  28.25]]))

### P value of Chi-Square test == 0.277 > α

In [12]:
if chiStats[1] < 0.05:
  print('we reject null hypothesis')
else:
  print('we accept null hypothesis')

we accept null hypothesis

## HO (Null hypothesis) is accepted.

In [15]:
#critical value = 0.1
alpha = 0.05
critical_value = stats.chi2.ppf(q = 1 - alpha,df=chiStats[2])
observed_chi_val = chiStats[0]
print('Interpret by critical value')
if observed_chi_val <= critical_value:
       print ('Null hypothesis cannot be rejected (variables are not related)')
else:
       print ('Null hypothesis cannot be excepted (variables are not independent)')

Interpret by critical value
Null hypothesis cannot be rejected (variables are not related)

# Inference is that proportion of defective % varies by centres are is same.